# Question 1 :
Write a Python program to find the first 20 non-even prime natural numbers.

In [52]:
lower = 1
upper = 75

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 2:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 75 are:
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73

# Question 2 :
Write a Python program to implement 15 functions of string.

In [3]:
#1.lower()

string = "i love python coding"
string.lower()

'i love python coding'

In [5]:
#2.capitalize()

string.capitalize()

'I love python coding'

In [9]:
#3.center(10)
str = "Rupa"
str.center(10)

'   Rupa   '

In [10]:
#4.upper()
string.upper()

'I LOVE PYTHON CODING'

In [11]:
#5.format()

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [12]:
#6.endswith()

txt = 'Hello, i love python coding!'
x = txt.endswith("!")
print(x)

True

In [14]:
x = txt.endswith(".")
print(x)

False

In [15]:
#7.find()

txt = "Hello, welcome to my world."
x=txt.find("welcome")
print(x)

7

In [20]:
#8.isalnum()

txt = "World12"

x = txt.isalnum()

print(x)

True

In [23]:
#9.isalpha()

txt = "World12"

x = txt.isalpha()

print(x)

False

In [24]:
txt = "World"

x = txt.isalpha()

print(x)

True

In [26]:
#10.isupper()

txt="RUPADEVI"

x=txt.isupper()

print(x)

True

In [27]:
#11. islower()

x=txt.islower()

print(x)

False

In [29]:
#12.strip()

txt = "     rupa     "

x = txt.strip()

print(x, "is good at coding")

rupa is good at coding

In [30]:
#13.title()

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [34]:
#14. zfill() - Fill the string with zeros until it is 10 characters long:

txt = "rupa"

x = txt.zfill(10)

print(x)

000000rupa

In [35]:
#15. splitlines()

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

# Question 3:

Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.

In [42]:
string=input(("Enter a string:"))
if()
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Enter a string:abc
Not a palindrome

In [45]:
a=input("Enter string 1:")

b=input("Enter string 2:")

count=0

for i in a:

    for j in b:

        if i==j:

            count=count+1

if count==len(a):
    print("Strings are anagram of each other.")

else:
    print("Strings are not anagram of each other.")

Enter string 1:listen
Enter string 2:silent
Strings are anagram of each other.

# Question 4:
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer

In [40]:
string =  "Dr. Darshan Ingle@AI-ML Trainer"
''.join(e for e in string if e.isalnum()).lower()

'drdarshaningleaimltrainer'